#quote-carousel .carousel-indicators {
    bottom: -20px !important;  
}
#quote-carousel .carousel-indicators li {
    display: inline-block;
    margin: 0px 5px;
    width: 9px;
    height: 9px;
}
#quote-carousel .carousel-indicators li.active {
    margin: 0px 5px;
    width: 10px;
    height: 10px;
}

.carousel-inner {
    height: 100%;
}

#quote-carousel img {
    width: 100%;    
}

.carousel-control {
    top: 30%;
}