section .container.hero{
    width:100%;
}

.container.hero .testo h1 {
    letter-spacing: .5px;
    font-size: 31px;
    margin-top: 5%;
}

.registration.content.container {
    margin-top: 5%;
    margin-bottom: 5%;
    
}

#quote-carousel .carousel-indicators {
    bottom: -20px;  
}

#quote-carousel .carousel-indicators li {
    display: inline-block;
    margin: 0px 5px;
    width: 9px;
    height: 9px;
}
#quote-carousel .carousel-indicators li.active {
    margin: 0px 5px;
    width: 10px;
    height: 10px;
}

.carousel-inner {
    height: 100%;
}

#quote-carousel img {
    width: 100%;    
}


.rokerbox #quote-carousel .carousel-control.left .medium{
    display:none;      
}

.rokerbox #quote-carousel .carousel-control.right .medium{
    display:none;
}

.rokerbox #quote-carousel .carousel-control.left .large {
    display:block;      
}

.rokerbox #quote-carousel .carousel-control.right .large {
    display:block;
}

