.container{

}

blockquote {
    font-size: 24px;
}

.carousel-inner {
    height: 30em;
}

#quote-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
}

#quote-carousel img {
    width: 21em;
}