blockquote {
    font-size: 24px;
}

.carousel-inner {
    height: 30em;
}

#quote-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
}

#quote-carousel img {
    width: 21em;
}

.rokerbox #quote-carousel .carousel-control.left {
    display:block;      
}

.rokerbox #quote-carousel .carousel-control.right {
    display:block;
}

.rokerbox #quote-carousel .carousel-control.left .large {
    display:none;      
}

.rokerbox #quote-carousel .carousel-control.right .large {
    display:none;
}