


a{
    color:black;
}

a:hover,
a:visited{
    color:black;
}

.center {
    margin: 0 auto;
}

.btn{
    margin-right: 14px;
}

.MdG-text-blue{
    color:#031b4e;
}
.MdG-text-white{
    color: white;
}
.MdG-bg-greyForm{
    background-color: #f3f5f9;
}

.MdG-bg-blue{
    background-color: #006aff;
}

.MdG-btn-blue-hi {
    padding-left: 3px;
    padding-right: 3px;
}

.MdG-btn-blue-hi button.btn{
    color: #006aff;
    background-color: white;
    border: 1px solid #006aff;
}

.MdG-btn-primary{
    margin-left:1px;
    width: 99%;
    color: #fff;
    background-color: #006aff;
    border-color: #006aff;
    transition: background-color .3s ,border-color .3s;
}

.MdG-btn-primary:hover {    
    color: #fff;
    background-color: #1633ff;
    border-color: #1633ff;
}

/*navbar*/
.navbar {
    margin-bottom: 0;
    min-height: 66px;
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
}

.navbar-brand {
    float: left;
    height: 30px;
    padding: 0px 15px;
    font-size: 18px;
    margin: 13px;
}

nav .navbar-brand img{
    height: 100%;    
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 0 0;
    margin-top: 13px;
    margin-right: 15px;
    margin-bottom: 8px;
    color: black;
    background-color: transparent;
    background-image: none;
    border: 0 solid white;
}

.navbar-toggle .material-icons.close{
    display:none;
}

.navbar-toggle:active .material-icons.close{
    display:inline-block;
}

.navbar-default .navbar-toggle.MdG:focus,
 .navbar-default .navbar-toggle.MdG:hover {
    color: black;
    background-color: #fff;
    border-color: #fff;
}

.navbar-toggle:active .material-icons.menu{
    display:none;
}

/*Hero*/
.container.hero{
    position: relative;
    height: 50%;
    background-image:url("../img/bg-banner-home.jpg");
    background-size: cover;
    overflow: hidden;   
    z-index: 0; 
}

.container.hero .testo h1{       
    color:white;
    font-family: 'Inter-Bold','system-ui','-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue','Helvetica','Arial','sans-serif';
    letter-spacing: .5px;
    font-size: 31px;
    text-align: center;
    font-weight: 700;
    margin-top: 50%;
}
.container.hero .testo p{       
    color:white;
    font-family: 'Inter-Bold','system-ui','-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue','Helvetica','Arial','sans-serif';
    letter-spacing: .5px;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
}
.container.hero img{
    position: absolute;
    bottom: -300%;    
    right: -70px;
    width: 200vw;
    animation:  changebottom 10s infinite;
}

@keyframes changebottom {
    from {
      bottom: -300px;
    }
  
    to {
      bottom: 200%;
    }
  }
  
.hero .box{
    background-color: white;
}

.registration h5{
    font-size: 20px;
    font-weight: 700;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f3f5f9;
}


.form{
    width: 100%;
    text-align: justify;
    border-radius: 6px 6px 0px 0px;
    
    padding: 16px 0 12px 0;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0;
}

.registration.content.container{
    margin: auto;
}

.registration .btn{
    margin-right: 4px;
}

.registration .row .panel{
    padding-left:0;
    padding-right:0;
}

input{
    width: 100%;
    height: 48px;
    border: 1px solid #e5e8ed;
    border-radius: 3px;
    margin-bottom: 8px;
    font-size: 16px;
    padding: 16px;
    color: #031b4e;    
}

input:focus {
    border-color: #0069ff;
    outline: #0069ff;
}

.MdG-bottom{
    width: 100%;
    height:51px;
    margin-top:50px;
}

.MdG-bottom a,
.MdG-bottom a:hover,
.MdG-bottom a:visited {
    line-height: 51px;  
    color: currentColor;    
}


/*container LOGO*/
section.section.loghi{
    padding: 40px 20px;
    background-color:#f3f5f9
}

.loghi .h6 {
    font-weight: 700;
}

img[alt*="Docker logo"] {
    width: 140px;
    height: 77px;
}

img[alt*="Gitlab"] {
    width: 140px;
    height: 77px;
}

img[alt*="Slack"] {
    width: 127px;
    height: 77px;
}

img[alt*="Hashi"] {
    width: 156px;
    height: 77px;
}

img[alt*="Cloudway"] {
    width: 156px;
    height: 77px;
}

img[alt*="Splunk logo"] {
    width: 122px;
    height: 77px;
}

.loghi a {    
    color:#0069ff;
    text-decoration: none;
    cursor: pointer;
}

.loghi a .material-icons.round {
    position: relative;
    font-size:15px;
    color:#0069ff;
    top: 3px;
}

/*Deploy*/

/*section.deploy {
    width: calc(100% - 50px);
    padding: 10px 10px;
    margin: 60px auto;
    border: 1px  solid rgba(90, 88, 88, 0.5);
    border-radius: 10px;
}

section.deploy img.img-responsive {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
}

section.deploy .box {
    text-align: center;
    
}*/

section.deploy-2 p {
    margin: 0 10px 10px;
}

section.deploy-2 ul {
    line-height: 40px;
    list-style: none;
    font-size: 20px;
    padding: 20px 10px;
}

section.deploy-2 ul a{
    border-left: 1px solid rgba(90, 88, 88, 0.733);
    padding-top: 10px;
    padding-bottom: 10px;
    
}


.MdG-slide {
    display:none;
}

 .button:hover, 
 .slide:hover{
    display:block;
}

/* carousel */

.MdG-carousel{
    background-color:#f3f5f9;
    padding-bottom: 5%;
}


blockquote {
    font-size: 11px;
}

#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

.carousel-inner {
    height: 17em;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 1em;
}

/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 60%;
  height: 60%;
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}
 

/*nuova section features*/

section.features{
    background-color: white;
}

.features img{
    margin:0px 30px 0px 0px;
    min-width:auto;
    max-width:48px;
    width:48px;
}

.features .testo {
    margin: 10px auto;
}

.features a {
    color: #006aff;
    font-style: none;
}

.features .material-icons{
    vertical-align: middle;
}

/*connection*/

section.connection{
    background-image: linear-gradient(to bottom, #0047c5,#00209a);
    color: white;
    margin: 10px auto;
}

section.connection h2 {
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;    
}

section.connection ul {
    list-style-type: none;
    margin-bottom: 40px;
    text-align: center;
    
}

section.connection li  {
    border-bottom: 1px solid white;
    text-align: center;
}

section.connection li p {
    display: inline-block;
}





