


a{
    color:black;
}

a:hover,
a:visited{
    color:black;
}

.MdG-text-blue{
    color:#031b4e;
}
.MdG-text-white{
    color: white;
}
.MdG-bg-greyForm{
    background-color: #f3f5f9;
}

.MdG-bg-blue{
    background-color: #006aff;
}

.MdG-btn-blue-hi {
    padding-left: 3px;
    padding-right: 3px;
}

.MdG-btn-blue-hi button.btn{
    color: #006aff;
    background-color: white;
    border: 1px solid #006aff;
}

.MdG-btn-primary{
    margin-left:1px;
    width: 99%;
    color: #fff;
    background-color: #006aff;
    border-color: #006aff;
    transition: background-color .3s ,border-color .3s;
}

.MdG-btn-primary:hover {    
    color: #fff;
    background-color: #1633ff;
    border-color: #1633ff;
}

/*navbar*/
.navbar {
    margin-bottom: 0;
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
}

nav .navbar-brand img{
    height: 100%;    
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 0 0;
    margin-top: 13px;
    margin-right: 15px;
    margin-bottom: 8px;
    color: black;
    background-color: transparent;
    background-image: none;
    border: 0 solid white;
}

.navbar-toggle .material-icons.close{
    display:none;
}

.navbar-toggle:active .material-icons.close{
    display:inline-block;
}

.navbar-default .navbar-toggle.MdG:focus,
 .navbar-default .navbar-toggle.MdG:hover {
    color: black;
    background-color: #fff;
    border-color: #fff;
}

.navbar-toggle:active .material-icons.menu{
    display:none;
}

/*Hero*/
.container.hero{
    position: relative;
    height: 450px;
    background-image:url("../img/bg-banner-home.jpg");
    background-size: cover;
    overflow: hidden;   
    z-index: 0; 
}

.container.hero .testo h1{       
    color:white;
    font-family: 'Inter-Bold','system-ui','-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue','Helvetica','Arial','sans-serif';
    letter-spacing: .5px;
    font-size: 31px;
    text-align: center;
    font-weight: 700;
    margin-top: 50%;
}
.container.hero .testo p{       
    color:white;
    font-family: 'Inter-Bold','system-ui','-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue','Helvetica','Arial','sans-serif';
    letter-spacing: .5px;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
}
.container.hero img{
    position: absolute;
    bottom: -300%;    
    right: -70px;
    width: 2000px;
}

.container.hero:hover img{
    z-index: -1;
    bottom: 200%;
    transition: bottom 15s;
}


.registration h5{
    font-size: 20px;
    font-weight: 700;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f3f5f9;
}


.form{
    width: 100%;
    text-align: justify;
    border-radius: 6px 6px 0px 0px;
    
    padding: 16px 0 12px 0;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0;
}

input{
    width: 100%;
    height: 48px;
    border: 1px solid #e5e8ed;
    border-radius: 3px;
    margin-bottom: 8px;
    font-size: 16px;
    padding: 16px;
    color: #031b4e;    
}

input:focus {
    border-color: #0069ff;
    outline: #0069ff;
}

.MdG-bottom{
    width: 100%;
    height:51px;
    margin-top:50px;
    color: white;
    background-image: url("../img/bg-banner-home.jpg");
    background-position: bottom;
}

.MdG-bottom a,
.MdG-bottom a:hover,
.MdG-bottom a:visited {
    line-height: 51px;  
    color: currentColor;    
}






